// cases for using karma: thre side-by-side icon and label pairs

.cases {
	@include centerBlock;
	font-size: 1rem;
	margin-top: em(115);
	margin-bottom: em(115);
	text-align: center;
	h1 {
		margin-bottom: em(50, 44);
		//padding-top: em(115, 44);
	}
	> ul { padding: 0; } 
}

li[class^="cases__case-"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: (100% / 3); // number of icons
	figure {
		margin: 0;
		img {
			display: block;
			padding: 0 em(80);
			vertical-align: top;
			width: 100%;
		}
		figcaption { 
			margin-top: em(40, 25);
			width: 100%;
		}
	}
}

.cases--theme1 {
	h1 {
		color: $black;
		font-size: em(44);
	}
	figcaption {
		font-size: em(25);
		font-weight: 400;
	}
}